header{
    background-color: darkslateblue;
    color: white;
    padding: 10px;
    padding-left: 20px;
    width: 100%;
}
header h1{
    font-size: 3rem;
    font-weight: 600;
}

body{
    margin: 0;
}

#addTask {
    position: relative;
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-top: 40px;
    margin-left: 60px;
    width: 150px;
    border: none;
    cursor: pointer;
}

#taskDiv{
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
}

.modal-content {
    display: block;
    background-color: #FFFFFF;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

#title{
    width: 42%;
    height: 30px;
}

#submit{
    width: 200px;
    height: 40px;
    background-color: #00B894;
}



/* Style the close button */
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

#tableDetails{
    margin-left: 60px;
    margin-top: 30px;
    width: 90%;
}